@tailwind base;
@tailwind components;
@tailwind utilities;

.oxanium-font {
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: bold;
  letter-spacing: +0.05em;
  font-stretch: extra-condensed;
}

@font-face {
  font-family: "A-Space-Demo";
  src:
    url("/fonts/A-Space-Demo.ttf.woff") format("woff"),
    url("/fonts/A-Space-Demo.ttf.svg#A-Space-Demo") format("svg"),
    url("/fonts/A-Space-Demo.ttf.eot"),
    url("/fonts/A-Space-Demo.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: lighter;
  font-style: normal;
}

.a-space-demo-font {
  font-family: "A-Space-Demo", sans-serif;
}

.primary-color {
  color: #3982b9;
}

.hover-primary-color:hover {
  color: #3982b9;
}

.logo {
  margin-top: 20vh;
  height: 45vh;
}
